@import "tailwindcss";

@theme {
	--animate-subtle-rise: subtle-rise 500ms ease-out both;

	@keyframes subtle-rise {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
